sentence-transformers==3.0.1
langchain
langchain-community
langchain-huggingface
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
google-genai
langchain-google-genai
langchain_experimental
langchain-community
langchain-huggingface
-e .